body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img1{
	height: 400px;
	width: 400px;
	float: left;
}

.img2{
	float:right;
	height: 300px;
	width: 300px;
}